body {
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #5682B1;
    margin: 0px;
    padding: 50px;
    text-align: center;
    color: aliceblue;
}

h2 {
    color: #5682B1;
}

main {
    padding: 20px;

    display: flex;
    gap: 1.5rem;
}

footer {
    padding: 20px;
    color: aliceblue;
    background-color: #5682B1;

    text-align: center;
    font-weight: bold;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  transition: all 0.3s ease-in-out; /* transisi halus */
}

nav li {
  list-style-type: none;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: aliceblue;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  font-weight: bold;
  background-color: #739EC9;
  transform: scale(1.05); /* sedikit membesar saat hover */
}

nav {
    background-color: #44444e;
    padding: 5px;

    position: sticky;
    top: 0;
}

.content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

img {
    max-width: 100%;   /* gambar tidak boleh lebih lebar dari layar */
    height: auto;      /* tinggi menyesuaikan proporsi */
    display: block;    /* hilangkan jarak kosong bawaan inline */
    margin: 0 auto;    /* biar center kalau lebih kecil */
    border-radius: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;

}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}


@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}




